﻿@model TicMvc.ViewModels.GameViewModel
@*@model TicMvc.Models.Player*@

@*@{
    ViewData["Title"] = "Index";
}*@

<style>
       
        .ads {
            text-align: center;
            margin: .4vw 0;
            background: #F4CC70;
            padding: .4vw;
        }

        .content {
            margin: .4vw 0;
            /*background: lightblue;*/
            padding: .4vw;
        }

        .tic-panel {
            border: solid 2px black;
            margin: .4vw 0;
            background: black;
            padding: .4vw;
        }

        .tic-box {
            border: solid black 1px;
            font-size: 5vw;
            background: white;
            text-align: center;
            color: black;
        }

            .tic-box:hover {
                background: lightgrey;
            }
</style>

<h1>Game</h1>
<div>
    @Model.Player.Name vs @Model.Opponent.Name
</div>
<p>Player make a move. Select a number between 1-9</p>



<head>
    <meta charset="utf-8">
    <title>Tic Tac Toe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            @*<div class="col-12 col-sm-2 ads"> "ads </div>*@
            <div class="col-12 col-sm-6 content">
                <div class="container-fluid tic-container">
                    <div class="row tic-row">
                        <div id="one" class="col-4 tic-box" onclick="changeContent(1)"> 1 </div>
                        <div id="two"class="col-4 tic-box" onclick="changeContent(2)"> 2 </div>
                        <div id="three"class="col-4 tic-box" onclick="changeContent(3)"> 3 </div>
                    </div>
                    <div class="row tic-row">
                        <div id="four" class="col-4 tic-box" onclick="changeContent(4)"> 4 </div>
                        <div id="five" class="col-4 tic-box" onclick="changeContent(5)"> 5 </div>
                        <div id="six" class="col-4 tic-box" onclick="changeContent(6)"> 6 </div>
                    </div>
                    <div class="row tic-row">
                        <div id="seven" class="col-4 tic-box" onclick="changeContent(7)"> 7 </div>
                        <div id="eight" class="col-4 tic-box" onclick="changeContent(8)"> 8 </div>
                        <div id="nine" class="col-4 tic-box" onclick="changeContent(9)"> 9 </div>
                    </div>
                </div>
            </div>
            



            
        </div>
    </div>
    <p id="message"></p>
</body>
<script>
    var count = 0;
    var turn = 0;
    function changeContent(x) {
        count++;
        if (turn == 0) {
            turn++;
            if (x == 1) 
                document.getElementById("one").innerHTML = "X";
            else if (x == 2)
                document.getElementById("two").innerHTML = "X";
            else if (x == 3)
                document.getElementById("three").innerHTML = "X";
            else if (x == 4)
                document.getElementById("four").innerHTML = "X";
            else if (x == 5)
                document.getElementById("five").innerHTML = "X";
            else if (x == 6)
                document.getElementById("six").innerHTML = "X";
            else if (x == 7)
                document.getElementById("seven").innerHTML = "X";
            else if (x == 8)
                document.getElementById("eight").innerHTML = "X";
            else if (x == 9)
                document.getElementById("nine").innerHTML = "X";
        }
        else if (turn == 1) {
            turn--;
            if (x == 1) 
                document.getElementById("one").innerHTML = "O";
            else if (x == 2)
                document.getElementById("two").innerHTML = "O";
            else if (x == 3)
                document.getElementById("three").innerHTML = "O";
            else if (x == 4)
                document.getElementById("four").innerHTML = "O";
            else if (x == 5)
                document.getElementById("five").innerHTML = "O";
            else if (x == 6)
                document.getElementById("six").innerHTML = "O";
            else if (x == 7)
                document.getElementById("seven").innerHTML = "O";
            else if (x == 8)
                document.getElementById("eight").innerHTML = "O";
            else if (x == 9)
                document.getElementById("nine").innerHTML = "O";
        }
        

        if (count > 2)
            checkWin();

    }
    function checkWin() {

        if (document.getElementById("one").innerHTML == 'X' && document.getElementById("two").innerHTML == 'X' && document.getElementById("three").innerHTML == 'X')
            document.getElementById("message").innerHTML = "Player X won!";
        else if (document.getElementById("four").innerHTML == 'X' && document.getElementById("five").innerHTML == 'X' && document.getElementById("six").innerHTML == 'X')
            document.getElementById("message").innerHTML = "Player X won!";
        else if (document.getElementById("seven").innerHTML == 'X' && document.getElementById("eight").innerHTML == 'X' && document.getElementById("nine").innerHTML == 'X')
            document.getElementById("message").innerHTML = "Player X won!";
        else if (document.getElementById("one").innerHTML == 'X' && document.getElementById("four").innerHTML == 'X' && document.getElementById("seven").innerHTML == 'X')
            document.getElementById("message").innerHTML = "Player X won!";
        else if (document.getElementById("two").innerHTML == 'X' && document.getElementById("five").innerHTML == 'X' && document.getElementById("eight").innerHTML == 'X')
            document.getElementById("message").innerHTML = "Player X won!";
        else if (document.getElementById("three").innerHTML == 'X' && document.getElementById("six").innerHTML == 'X' && document.getElementById("nine").innerHTML == 'X')
            document.getElementById("message").innerHTML = "Player X won!";
        else if (document.getElementById("one").innerHTML == 'X' && document.getElementById("five").innerHTML == 'X' && document.getElementById("nine").innerHTML == 'X')
            document.getElementById("message").innerHTML = "Player X won!";
        else if (document.getElementById("three").innerHTML == 'X' && document.getElementById("five").innerHTML == 'X' && document.getElementById("seven").innerHTML == 'X')
            document.getElementById("message").innerHTML = "Player X won!";

        if (document.getElementById("one").innerHTML == 'O' && document.getElementById("two").innerHTML == 'O' && document.getElementById("three").innerHTML == 'O')
            document.getElementById("message").innerHTML = "Player O won!";
        else if (document.getElementById("four").innerHTML == 'O' && document.getElementById("five").innerHTML == 'O' && document.getElementById("six").innerHTML == 'O')
            document.getElementById("message").innerHTML = "Player O won!";
        else if (document.getElementById("seven").innerHTML == 'O' && document.getElementById("eight").innerHTML == 'O' && document.getElementById("nine").innerHTML == 'O')
            document.getElementById("message").innerHTML = "Player O won!";
        else if (document.getElementById("one").innerHTML == 'O' && document.getElementById("four").innerHTML == 'O' && document.getElementById("seven").innerHTML == 'O')
            document.getElementById("message").innerHTML = "Player O won!";
        else if (document.getElementById("two").innerHTML == 'O' && document.getElementById("five").innerHTML == 'O' && document.getElementById("eight").innerHTML == 'O')
            document.getElementById("message").innerHTML = "Player O won!";
        else if (document.getElementById("three").innerHTML == 'O' && document.getElementById("six").innerHTML == 'O' && document.getElementById("nine").innerHTML == 'O')
            document.getElementById("message").innerHTML = "Player O won!";
        else if (document.getElementById("one").innerHTML =='O' && document.getElementById("five").innerHTML == 'O' && document.getElementById("nine").innerHTML == 'O')
            document.getElementById("message").innerHTML = "Player O won!";
        else if (document.getElementById("three").innerHTML == 'O' && document.getElementById("five").innerHTML == 'O' && document.getElementById("seven").innerHTML == 'O')
            document.getElementById("message").innerHTML = "Player O won!";
    }
</script>
