﻿.ads {
    text-align: center;
    margin: .4vw 0;
    background: #F4CC70;
    padding: .4vw;
}

.content {
    margin: .4vw 0;
    /*background: lightblue;*/
    padding: .4vw;
}

.tic-panel {
    border: solid 2px black;
    margin: .4vw 0;
    background: black;
    padding: .4vw;
}

.tic-box {
    border: solid black 1px;
    font-size: 5vw;
    background: white;
    text-align: center;
    color: black;
}

    .tic-box:hover {
        background: lightgrey;
    }
