﻿@model TicMvc.ViewModels.GameViewModel


<head>
    <meta charset="utf-8">
    <title>Tic Tac Toe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link href="~/css/game.css" rel="stylesheet" />
</head>

<h1>Game</h1>
<p id="status">Game Status: Not started</p>
 <input type="button" value="Start Game" onclick="startGame()" />



<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Games Played</th>
            <th>Games Won</th>
            <th>Games Draw</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Player.Name</td>
            <td>@Model.Player.GamesPlayed</td>
            <td>@Model.Player.GamesWon</td>
            <td>@Model.Player.Draws</td>
        </tr>
        <tr>
            <td>@Model.Opponent.Name</td>
            <td>@Model.Opponent.GamesPlayed</td>
            <td>@Model.Opponent.GamesWon</td>
            <td>@Model.Opponent.Draws</td>
        </tr>

    </tbody>
</table>



<div>
    @Model.Player.Name vs @Model.Opponent.Name
</div>


<body>
    <div id="myDiv" style="display:none">

        <p id="newTurn">@Model.Player.Name make a move. Select a number between 1-9</p>

        @*@if (Model.Player.IsTurn == true)
        {
            <p>@Model.Player.Name make a move. Select a number between 1-9</p>
        }
        else
        {
            <p>@Model.Opponent.Name make a move. Select a number between 1-9</p>
        }*@
        <div class="container-fluid">
            <div class="row">
                @*<div class="col-12 col-sm-2 ads"> "ads </div>*@
                <div class="col-12 col-sm-6 content">
                    <div class="container-fluid tic-container">
                        <div class="row tic-row">
                            <div id="one" class="col-4 tic-box" onclick="changeContent(1)"> 1 </div>
                            <div id="two" class="col-4 tic-box" onclick="changeContent(2)"> 2 </div>
                            <div id="three" class="col-4 tic-box" onclick="changeContent(3)"> 3 </div>
                        </div>
                        <div class="row tic-row">
                            <div id="four" class="col-4 tic-box" onclick="changeContent(4)"> 4 </div>
                            <div id="five" class="col-4 tic-box" onclick="changeContent(5)"> 5 </div>
                            <div id="six" class="col-4 tic-box" onclick="changeContent(6)"> 6 </div>
                        </div>
                        <div class="row tic-row">
                            <div id="seven" class="col-4 tic-box" onclick="changeContent(7)"> 7 </div>
                            <div id="eight" class="col-4 tic-box" onclick="changeContent(8)"> 8 </div>
                            <div id="nine" class="col-4 tic-box" onclick="changeContent(9)"> 9 </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
        <p id="message"></p>
    </div>
</body>
<script>
    var count = 0;
    var turn = 0;

    function startGame() {
        document.getElementById('status').innerHTML = "Game Status: Ongoing";
        var x = document.getElementById("myDiv");
        if (x.style.display === "none") {
        x.style.display = "block";
        } 
        
    };

    function changeContent(x) {
        count++;
        if (turn == 0) {
            
            turn++;
            if (x == 1) {

                document.getElementById("one").innerHTML = "X";
                document.getElementById("newTurn").innerHTML = "@Model.Opponent.Name make a move. Select a number between 1-9";
            }
            else if (x == 2) {

                document.getElementById("two").innerHTML = "X";
                document.getElementById("newTurn").innerHTML = "@Model.Opponent.Name make a move. Select a number between 1-9";
            }
            else if (x == 3) {

                document.getElementById("three").innerHTML = "X";
                document.getElementById("newTurn").innerHTML = "@Model.Opponent.Name make a move. Select a number between 1-9";
            }
            else if (x == 4) {

                document.getElementById("four").innerHTML = "X";
                document.getElementById("newTurn").innerHTML = "@Model.Opponent.Name make a move. Select a number between 1-9";
            }
            else if (x == 5) {

                document.getElementById("five").innerHTML = "X";
                document.getElementById("newTurn").innerHTML = "@Model.Opponent.Name make a move. Select a number between 1-9";
            }
            else if (x == 6) {

                document.getElementById("six").innerHTML = "X";
                document.getElementById("newTurn").innerHTML = "@Model.Opponent.Name make a move. Select a number between 1-9";
            }
            else if (x == 7) {

                document.getElementById("seven").innerHTML = "X";
                document.getElementById("newTurn").innerHTML = "@Model.Opponent.Name make a move. Select a number between 1-9";
            }
            else if (x == 8) {

                document.getElementById("eight").innerHTML = "X";
                document.getElementById("newTurn").innerHTML = "@Model.Opponent.Name make a move. Select a number between 1-9";
            }
            else if (x == 9) {

                document.getElementById("nine").innerHTML = "X";
                document.getElementById("newTurn").innerHTML = "@Model.Opponent.Name make a move. Select a number between 1-9";
            }
        }
        else if (turn == 1) {
            
            turn--;
            if (x == 1) {
                document.getElementById("one").innerHTML = "O";
                document.getElementById("newTurn").innerHTML = "@Model.Player.Name make a move. Select a number between 1-9";
            }
            else if (x == 2) {
                document.getElementById("two").innerHTML = "O";
                document.getElementById("newTurn").innerHTML = "@Model.Player.Name make a move. Select a number between 1-9";
            }
            else if (x == 3) {
                document.getElementById("three").innerHTML = "O";
                document.getElementById("newTurn").innerHTML = "@Model.Player.Name make a move. Select a number between 1-9";
            }
            else if (x == 4) {
                document.getElementById("four").innerHTML = "O";
                document.getElementById("newTurn").innerHTML = "@Model.Player.Name make a move. Select a number between 1-9";
            }
            else if (x == 5) {
                document.getElementById("five").innerHTML = "O";
                document.getElementById("newTurn").innerHTML = "@Model.Player.Name make a move. Select a number between 1-9";
            }
            else if (x == 6) {
                document.getElementById("six").innerHTML = "O";
                document.getElementById("newTurn").innerHTML = "@Model.Player.Name make a move. Select a number between 1-9";
            }
            else if (x == 7) {
                document.getElementById("seven").innerHTML = "O";
                document.getElementById("newTurn").innerHTML = "@Model.Player.Name make a move. Select a number between 1-9";
            }
            else if (x == 8) {
                document.getElementById("eight").innerHTML = "O";
                document.getElementById("newTurn").innerHTML = "@Model.Player.Name make a move. Select a number between 1-9";
            }
            else if (x == 9) {
                document.getElementById("nine").innerHTML = "O";
                document.getElementById("newTurn").innerHTML = "@Model.Player.Name make a move. Select a number between 1-9";
            }
        }


        if (count > 2)
            checkWin();

    }
    function checkWin() {

        if (document.getElementById("one").innerHTML == 'X' && document.getElementById("two").innerHTML == 'X' && document.getElementById("three").innerHTML == 'X') {
            document.getElementById("message").innerHTML = "Player @Model.Player.Name won!";
            
        }
        else if (document.getElementById("four").innerHTML == 'X' && document.getElementById("five").innerHTML == 'X' && document.getElementById("six").innerHTML == 'X')
            {
            document.getElementById("message").innerHTML = "Player @Model.Player.Name won!";
            
        }
        else if (document.getElementById("seven").innerHTML == 'X' && document.getElementById("eight").innerHTML == 'X' && document.getElementById("nine").innerHTML == 'X')
            {
            document.getElementById("message").innerHTML = "Player @Model.Player.Name won!";
            
        }
        else if (document.getElementById("one").innerHTML == 'X' && document.getElementById("four").innerHTML == 'X' && document.getElementById("seven").innerHTML == 'X')
            {
            document.getElementById("message").innerHTML = "Player @Model.Player.Name won!";
            
        }
        else if (document.getElementById("two").innerHTML == 'X' && document.getElementById("five").innerHTML == 'X' && document.getElementById("eight").innerHTML == 'X')
            {
            document.getElementById("message").innerHTML = "Player @Model.Player.Name won!";
            
        }
        else if (document.getElementById("three").innerHTML == 'X' && document.getElementById("six").innerHTML == 'X' && document.getElementById("nine").innerHTML == 'X')
            {
            document.getElementById("message").innerHTML = "Player @Model.Player.Name won!";
            
        }
        else if (document.getElementById("one").innerHTML == 'X' && document.getElementById("five").innerHTML == 'X' && document.getElementById("nine").innerHTML == 'X')
            {
            document.getElementById("message").innerHTML = "Player @Model.Player.Name won!";
            
        }
        else if (document.getElementById("three").innerHTML == 'X' && document.getElementById("five").innerHTML == 'X' && document.getElementById("seven").innerHTML == 'X')
            {
            document.getElementById("message").innerHTML = "Player @Model.Player.Name won!";
            
        }

        if (document.getElementById("one").innerHTML == 'O' && document.getElementById("two").innerHTML == 'O' && document.getElementById("three").innerHTML == 'O')
            {
            document.getElementById("message").innerHTML = "Player @Model.Opponent.Name won!";
            
        }
        else if (document.getElementById("four").innerHTML == 'O' && document.getElementById("five").innerHTML == 'O' && document.getElementById("six").innerHTML == 'O')
            {
            document.getElementById("message").innerHTML = "Player @Model.Opponent.Name won!";
            
        }
        else if (document.getElementById("seven").innerHTML == 'O' && document.getElementById("eight").innerHTML == 'O' && document.getElementById("nine").innerHTML == 'O')
            {
            document.getElementById("message").innerHTML = "Player @Model.Opponent.Name won!";
           
        }
        else if (document.getElementById("one").innerHTML == 'O' && document.getElementById("four").innerHTML == 'O' && document.getElementById("seven").innerHTML == 'O')
            {
            document.getElementById("message").innerHTML = "Player @Model.Opponent.Name won!";
           
        }
        else if (document.getElementById("two").innerHTML == 'O' && document.getElementById("five").innerHTML == 'O' && document.getElementById("eight").innerHTML == 'O')
            {
            document.getElementById("message").innerHTML = "Player @Model.Opponent.Name won!";
            
        }
        else if (document.getElementById("three").innerHTML == 'O' && document.getElementById("six").innerHTML == 'O' && document.getElementById("nine").innerHTML == 'O')
            {
            document.getElementById("message").innerHTML = "Player @Model.Opponent.Name won!";
            
        }
        else if (document.getElementById("one").innerHTML == 'O' && document.getElementById("five").innerHTML == 'O' && document.getElementById("nine").innerHTML == 'O')
            {
            document.getElementById("message").innerHTML = "Player @Model.Opponent.Name won!";
            
        }
        else if (document.getElementById("three").innerHTML == 'O' && document.getElementById("five").innerHTML == 'O' && document.getElementById("seven").innerHTML == 'O')
            {
            document.getElementById("message").innerHTML = "Player @Model.Opponent.Name won!";
            
        }
    }
</script>
